@tailwind base;
@tailwind components;
@tailwind utilities;

.vector-graphics {
    animation: vectorAnimation 4s infinite ease-in-out;
  }
  
  @keyframes vectorAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px); /* Adjust the value to control the movement distance */
    }
  }